.world{
    width: 100%;
    display: flex;
}
.User{
    margin-top: 3%;
    width: 30%;
    margin-left: 2%;
    
    max-height: 700px;
    overflow-y: auto;
    
    
   
    
}
.Textfield{
  width: 90%;
  

}
form{
  margin-top: 65%;
  display: flex;
  margin-left: 5%;
}
form button{
  width: 20%;
  margin-left: 2%;
  background-color: beige;
  border-radius: 10px;
}


.rightMessage{
 
  
  width: 65%;

}