.world{
    width: 100%;
    display: flex;
}
.User{
    margin-top: 3%;
    width: 30%;
    margin-left: 2%;
    background-color: red;
    max-height: 700px;
    overflow-y: auto;
    
    
   
    
}

.rightMessage{
  float: right;
  margin-left: 60%;

}